da6401_3/best_checkpoint.pt
best_checkpoint.pt
*.pt
da6401_3/
wandb/
__pycache__/

venv/
.venv/
da6401_3/

# Wandb
wandb/

# Python cache
__pycache__/
*.pyc

# Large checkpoints
*.pt
*.pth

# misc files
ex.md